{
  "root": true,
  "ignorePatterns": "webpack.config.js",
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "react-app",
    "prettier"
  ]
}
